nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 47, 255, 0.858);
  font-size: 18px;
  position: relative;
  font-weight: 700;
  height: 50px;
}
.navList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 2rem;
}
.alpine {
  color: blue;
  font-weight: 900;
  font-size: 1.5rem;
}
.humberg-menu-btn {
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
@media (max-width: 600px) {
  .humberg-menu-btn {
    display: block;
  }
  .navList {
    display: flex;
    top: -500px;
    transition: all 0.6s ease;
    flex-direction: column;
    position: fixed;

    width: 100%;
    background-color: rgb(178, 231, 231);
  }
  .nav__item {
    border-bottom: 1px solid rgba(1, 1, 1, 0.228);
  }
}
